.header_wrap {
  width: 100%;
  height: 75px;
  .header_top {
    height: 24px;
    margin: 0 0 20px;
    background-color: #f1f4f6;
  }
  .header_bottom {
    display: flex;
    .header_arrow_wrap {
      align-self: center;
      .header_left_arrow {
        object-fit: contain;
        width: 16px;
        height: 10.6px;
        margin-left: 25px;
      }
    }
    .header_title {
      padding-left: 10px;
      font-size: 17px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: left;
      color: #282828;
    }
  }
}
