.login_container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url('/img-signup.png');
  background-size: cover;
  height: 100vh;
  width: 375px;
  background-repeat: no-repeat;
  position: relative;

  .text_wrap {
    width: 117px;

    padding: 127px 233px 467px 25px;
    .welcome_to {
      width: 117px;
      height: 33px;
      margin: 0 61px 8px 10px;
      object-fit: contain;
      font-family: NotoSansCJKkr;
      font-size: 22px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .logo_IMS {
      width: 79.2px;
      // width: 500px;
      height: 30px;
      // padding: 170px 270.8px 467px 25px;
      margin: 0px 98.8px 46px 10px;
      object-fit: contain;
    }
  }

  .login_input {
    width: 345px;
    position: absolute;
    top: 273px;

    padding: 0 15px;
    .inputBottomLine {
      width: 345px;
      height: 1px;
      // margin: 30px 0 36px;
      margin-bottom: 20px;
      // margin: 8px 0 36px;
      object-fit: contain;
      background-color: rgba(246, 246, 246, 0.3);
    }
    input {
      width: 345px;
      height: 30px;
      color: white;
      background-color: transparent;
      border-style: none;
      ::placeholder {
        color: white;
      }
    }
  }

  .loginBottom_wrap {
    width: 325px;
    position: absolute;
    bottom: 83px;
    left: 25px;
    // margin: 0 15px;
    .loginButton_wrap {
      position: relative;
      .login_Button {
        width: 325px;
        height: 48px;
        // margin: 98px 10px 14px;
        // padding: 11px 141px 13px 140px;
        object-fit: contain;
        border-radius: 8px;
        background-color: #1877f2;
      }
      .login_Button_text {
        width: 44px;
        height: 24px;
        object-fit: contain;
        font-family: NotoSansCJKkr;
        // font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: absolute;
        top: 11px;
        left: 45%;
      }
    }

    .signupButton_wrap {
      position: relative;
      .signup_Button {
        width: 325px;
        height: 48px;
        margin-top: 10px;
        // margin: 98px 10px 14px;
        // padding: 11px 141px 13px 140px;
        object-fit: contain;
        border-radius: 8px;
        background-color: rgba(248, 251, 255, 0.06);
      }
      .signup_Button_text {
        // width: 44px;
        height: 24px;
        object-fit: contain;
        font-family: NotoSansCJKkr;
        // font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: absolute;
        top: 19px;
        left: 110px;
      }
    }
  }
}
