.call_container {
  display: flex;
  width: 345px;
  height: 134px;
  margin: 10px auto;
  padding: 11px 0 11px 11px;
  border-radius: 15px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;

  .suggestion_container {
    width: 78px;
    height: 110px;
    padding: 10px;
    // margin: 0 10px 0 0;
    border-radius: 15px;
    background-color: #f6f6f6;

    .suggestion {
      width: 100%;
      height: 18px;
      // background-color: lightgray;
      font-family: NotoSansCJKkr;
      font-size: 12px;
      line-height: 1.25;
      display: flex;
      justify-content: center;
      margin-top: 5px;
      // text-align: center;
      color: #282828;
    }

    .count {
      width: fit-content;
      height: 29px;
      margin: 0 auto;
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
      line-height: 0.55;
      color: #282828;
    }
  }

  .company_suggestion {
    width: 59px;
    height: 16px;
    padding-top: 1.5px;
    object-fit: contain;
    border-radius: 15px;
    font-size: 9px;
    text-align: center;
    color: #ffffff;
    background-color: #1877f2;
  }

  .customer_car_type_text {
    width: 29px;
    margin: 8px 10px 4px 0;
    object-fit: contain;
    line-height: 0.4;
    font-size: 8px;
    color: #bdbdbd;
  }

  .customer_car_type {
    width: auto;
    margin: 8px 0 4px 0;
    object-fit: contain;
    font-size: 8px;
    font-weight: bold;
    color: #282828;
  }

  .customer_car_number_text {
    width: 29px;
    margin: 0 10px 4px 0;
    object-fit: contain;
    font-size: 8px;
    color: #bdbdbd;
  }

  .customer_car_number {
    margin: 0 0 4px 0;
    object-fit: contain;
    font-size: 9px;
    color: #282828;
  }

  .customer_call_date_text {
    width: 22px;
    margin: 0 18px 0 0;
    object-fit: contain;
    font-size: 8px;
    color: #bdbdbd;
  }

  .customer_call_date {
    width: 62px;
    margin: 0 0 0 0;
    object-fit: contain;
    font-size: 8px;
    color: #282828;
  }
}
