.main_container {
  display: flex;
  flex-direction: column;
  position: relative;

  .main_background {
    height: 100vh;
    background-color: #f1f4f6;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    // align-items: center;
  }
}
