.main_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
  width: 375px;
  background-color: #f1f4f6;

  .main_headerWrap {
    position: fixed;
    background-color: white;
    top: 0;
  }
  .main_background {
    background-color: #f1f4f6;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
  }
}
