.main_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
  width: 375px;
  background-color: #f1f4f6;
  // margin-bottom: 20px;
  .main_headerWrap {
    position: fixed;
    background-color: white;
    top: 0;
    // left: 0;
  }
  .main_background {
    // height: 100%;
    background-color: #f1f4f6;
    padding-top: 8px;
    // margin-bottom: 20px;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    // align-items: center;
  }
}
