.go_to_login_button {
    height: 60px;
    margin: 103px 0 0;
    padding: 11px 0px;
    border-radius: 8px;
    background-color: #1877f2;
    text-align: center;

    input {
        width: auto;
        height: 100%;
        border: none;
        background-color: transparent;
        font-family: NotoSansCJKkr;
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.78;
        letter-spacing: normal;
        color: #ffffff;
    }
}
      