.proposal_container {
  width: 375px;
  height: 100vh;

  .proposal_header {
    width: 375px;
    height: 56px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    line-height: 1.5;
    border-bottom: 1px solid #e6e6e6;
    img {
      position: absolute;
      left: 10px;
    }
  }
  .main_proposal_wrap {
    width: 375px;
    height: 100%;
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    // background-color: goldenrod;
    .companies_list {
      width: 50%;
      border-right: 1px solid #e6e6e6;
      display: flex;
      flex-direction: column;
    }

    .cars_list {
      width: 50%;
    }
  }

  .proposal_footer {
    height: 56px;
    width: 375px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdbdbd;
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }
  .active_proposal_footer {
    height: 56px;
    width: 375px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1877f2;
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }
}

// &.activeCheckBtn {
//   background-color: #1877f2;
// }
