.item_card {
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 10px;
  border-bottom: 1px solid #f6f6f6;
  &:nth-last-child() {
    border-bottom: none;
  }
  &:hover {
    background-color: rgba(24, 119, 242, 0.05);
  }
  .name {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px;
    margin-right: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
  }
  .address {
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #bdbdbd;
  }
}
