.company_search_container {
  width: 375px;
  height: 100%;
  background-color: white;
  z-index: 1;
  .form_wrap {
    padding: 16px 28px 30px 20px;
    .form_container {
      width: 100%;
      height: 100%;
      .search_result_wrap {
        display: block;
        border-radius: 10px;
        width: 100%;
        height: 400px;
        overflow: scroll;
        z-index: 1;
        background-color: white;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        .search_result_list {
          display: flex;
          flex-direction: column;
          background-color: white;
          overflow: scroll;
          border: 1px solid rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
