.button_wrap {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  margin-bottom: 30px;
=======
  padding-bottom: 30px;
>>>>>>> 86df58e... [add] mock data
  object-fit: contain;
  font-size: 16px;
  font-stretch: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;

  .left_button {
    text-align: center;
    height: 46px;
    margin-right: 11px;
    text-align: center;
    padding: 11px 52px 11px 53px;
    border: solid 1px #1877f2;
    border-radius: 8px;
    font-weight: 300;
    text-align: center;
    background-color: #ffffff;
    color: #1877f2;
  }
  .right_button {
    text-align: center;
    height: 46px;
    padding: 11px 52px 11px 53px;
    border: solid 1px #1877f2;
    border-radius: 8px;
    font-weight: 300;
    background-color: #1877f2;
    color: #ffffff;
  }
}
