.button_Container {
  padding: 11px 0px;
  border-radius: 8px;
  background-color: #bdbdbd;
  text-align: center;
  input {
    width: auto;
    height: 100%;
    border: none;
    background-color: transparent;
    font-family: NotoSansCJKkr;
    font-size: 23px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}

.button_Container_active {
  padding: 11px 0px;
  border-radius: 8px;
  background-color: #1877f2;
  text-align: center;
  input {
    width: auto;
    height: 100%;
    border: none;
    background-color: transparent;
    font-family: NotoSansCJKkr;
    font-size: 23px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}
