@import '../../../../styles/globals.scss';

.modalWrap_active {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  .modalMain {
    position: relative;
    @include flex-column();
    width: 270px;
    height: 164px;
    top: 50%;
    margin: 0 auto;
    border-radius: 8px;
    justify-content: center;
    background-color: #edeeee;
    .modalContent {
      position: relative;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      margin: 0 auto;
    }
    .modalTitle {
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      padding-bottom: 20px;
    }
    .modalButton {
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      padding: 10px;
      background-color: transparent;
      border: none;
      color: $main;
      cursor: pointer;
    }
  }
}

.modalWrap_hide {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  .modalMain {
    position: relative;
    @include flex-column();
    width: 270px;
    height: 164px;
    top: 50%;
    margin: 0 auto;
    border-radius: 8px;
    justify-content: center;
    background-color: #edeeee;
    .modalContent {
      position: relative;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      margin: 0 auto;
    }
    .modalTitle {
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      padding-bottom: 20px;
    }
    .modalButton {
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      padding: 10px;
      background-color: transparent;
      border: none;
      color: $main;
      cursor: pointer;
    }
  }
}
