.container {
  width: 375px;
  height: 60px;
  position: fixed;
  z-index: 1;
  bottom: 0px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .userInput {
    width: 250px;
    height: 21px;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #f6f6f6;
    margin-right: 10px;
    &::placeholder {
      padding-left: 10px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
  .sendButton {
    width: 85px;
    height: 36px;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: #1877f2;
  }
}
