.container {
  width: 375px;
  height: auto;
  margin: 0;
  padding: 0;
  .errorWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .errorMessage {
      font-size: 30px;
    }
  }
}
