.errorMessage {
  position: absolute;
  width: 100%;
  bottom: -23%;
  left: 2%;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  border-top: 1px solid #ff2929;
  color: #ff2929;
}
.successMessage {
  position: absolute;
  width: 100%;
  bottom: -23%;
  left: 2%;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  border-top: 1px solid #01b856;
  color: #01b856;
}
