@import '../../styles/globals.scss';
.container {
  width: 375px;
  height: auto;
  margin: 0;
  padding: 0;
  .errorWrap {
    @include flexCenter();
    .errorMessage {
      font-size: 30px;
    }
  }
}
