.container {
  width: 375px;
  height: auto;
  .proposal_subject {
    width: 375px;
    margin-top: 20px;
    padding: 15px;
    color: #282828;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: bold;
  }
  .proposal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

// Modal Component
.modal_container {
  width: 375px;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: white;

  .proposal_header {
    width: 375px;
    height: 56px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    line-height: 1.5;
    border-bottom: 1px solid #e6e6e6;
    z-index: 5;
    img {
      position: absolute;
      left: 10px;
    }
  }
  .main_proposal_wrap {
    width: 375px;
    height: 100%;
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    .companies_list {
      width: 50%;
      height: 100%;
      border-right: 1px solid #e6e6e6;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }

    .cars_list {
      width: 50%;
    }
  }

  .proposal_footer {
    height: 56px;
    width: 375px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdbdbd;
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }
  .active_proposal_footer {
    height: 56px;
    width: 375px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1877f2;
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }
}

// CompanyItem Component
.companyItem_container {
  width: 100%;
  height: 40px;
  // padding-left: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: NotoSansKR;
  font-size: 14px;
  color: #333333;
  line-height: 1.43;
  letter-spacing: normal;
}
.selected_companyItem_container {
  width: 100%;
  height: 40px;
  // padding-left: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: NotoSansKR;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  background-color: rgba(24, 119, 242, 0.1);
  color: #1877f2;
  // z-index: -1;
  &::after {
    background: url('/ic-check@2x.png') no-repeat 15px 7px;
    background-size: 14.8px 12px;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50px;
    height: 30px;
    width: 30px;
    margin: 0 10px 0 90px;
    // z-index: -1;
  }
}

// CarItem Component
.carItem_container {
  width: 100%;
  height: 40px;
  // padding-left: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: NotoSansKR;
  font-size: 14px;
  color: #333333;
  line-height: 1.43;
  letter-spacing: normal;
}

.selected_carItem_container {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: NotoSansKR;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  background-color: rgba(24, 119, 242, 0.1);
  color: #1877f2;
  // z-index: -1;
  &::after {
    background: url('/ic-check@2x.png') no-repeat 15px 7px;
    background-size: 14.8px 12px;
    content: '';
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    margin: 0 10px 0 80px;
    // z-index: -1;
  }
}
